# Ignore Gradle project-specific cache directory
.gradle

# Ignore intellij idea stuff
.idea

# Ignore vscode settings
.vscode

# Ignore Gradle build output directory
/app/build
/app/bin

# Ignore eclipse stuff
/app/.metadata

# Generated java code
/app/examples/*.tmp.java
/app/examples/jasmine
/app/examples/disassemblies
/app/examples/classes
/app/examples/java